
@font-face {
    font-family: "avenir";
    src: url(/fonts/Avenir.ttc);
    font-family: "arsenica-trial-light";
    src: url(/fonts/ArsenicaTrial-Light.ttf);
    font-family: "arsenica-trial-extrabold";
    src: url(/fonts/ArsenicaTrial-Extrabold.ttf);
}


:root {
    --color-dark: #211612;
    --color-light: #f4f3ef;
    --color-purple: #8565d6;
}

html, body {
    margin: 0 auto;
    background-color: var(--color-dark);
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1rem;
}


header {
    color: var(--color-light);
    background-color: var(--color-dark);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 2rem;
    margin-block: 1.5rem;

}

header > div {
    font-family: "arsenica-trial-light";
}

header > div > h4 {
    margin: 0;
}

nav > ul {
    display: flex;
    column-gap: 3rem;

    list-style: none;
}

nav > ul > li > a {
    color: var(--color-light);
    text-decoration: none;
    font-family: "avenir";
    font-size: 1rem;
}

#hero {
    display: flex;
}

#hero-img {
    width: 60%;
}

#hero-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-text {
    background-color: var(--color-light);

    width: 40%;
    padding: 2rem;

}

#all-events {
    font-family: "arsenica-trial-extrabold";
    color: var(--color-light);
    margin-inline: 2rem;
}


#main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3rem;
    column-gap: 2rem;
    margin-inline: 2rem;
    
    

}

article {
    width: 32%;
    
}



article > div {
    margin: 0;
    padding: 0;
}



article > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.article-image {
    height: 50%;
}


.article-text {
    background-color: var(--color-light);
    padding: 0.5rem;
    height: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.article-text > h2 {
    margin: 0;
    padding: 0;
}


footer {
    background-color: var(--color-purple);
}